body {
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: verdana;

}

header {
  display: flex;
  position: fixed;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
  z-index: 1;
  background-color: black;

}

.HeaderLogo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
  }

  header nav {
    padding: 20px 10px 0 10px;
    margin: 20px 10px 0 10px;
    display: inline-block;
  }

nav span a {
  color: white;
}


.MainContainer {
  padding-top: 100px;
}

.OurMissionImg {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.Img {
  height: 600px;
  width: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0px auto 0px auto;
}

.content {
  color: white;
  background-color: black;
  width: 100%;

}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .TeaMonth {
    margin: 0px auto 0px auto;
    height: 650px;
    width: 900px;
  }

  .PicBlock {
    display: block;
    background-color: black;
    margin-left: 10px;
    padding: 10px;
  }

  .PicBlock span {
    display: block;
    text-align: center;
    padding: 20px;

  }

  .pics img {
    height: 160px;
    width: 220px;
    padding: 10px
  }

  .item {
      padding: 5px;
  }

div {
    display: block;
  }

  .Locations {
    color: white;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  }


  .LocaLoc {
    display: block;
  }

footer {
  height: 100px;
  width: 100%;
  display: block;
  text-align: left;
  font-weight: bold;
}

.FooterInfo {
  align-items: center;
  margin: 40px  auto auto auto;
  flex-direction: column;

}
